<div class="card">
<a href="/blogs/{{id}}">
    <div class="card-body">
        <h5>{{user.username}}</h5>
        <p class="card-text">{{body}}</p>
    </div>
    <div class="card-footer">
       <small>{{format_time creation_date}}</small>
    </div>
    </a>
</div>