<div class="card">
    <div class="card-body">
        <h5>{{user.username}}</h5>
        <p class="card-text">{{content}}</p>
    </div>
    <div class="card-footer">
        <small>{{format_time creation_date}}</small>
    </div>
</div>