{{!-- edit blog goes here--}}
{{!-- db needs to be working to test this file. --}}

<h2>Edit Your Post</h2>

<form id="edit-form">
    {{!-- title of blog --}}
    <div class="form-group">
        <label for="title">Title</label>

        <input type="text" id="title" name={{id}} class="form-control" placeholder="title" name={{id}} value={{title}}>
    </div>

    <div class="form-group pb-2">
        {{!-- body of blog --}}
        <label for="body-input">Content</label>
        {{!-- Insert existing content for editing. --}}
        <textarea class="form-control" id="body-input">{{body}}</textarea>
    </div>

    {{!-- submit event of the form --}}
    {{!-- event handler is in createBlog.js --}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{!-- partials - render comment section --}}
{{> comment-section}}
<script src="/js/editBlog.js"></script>