{{!-- view blogs --}}
{{!-- needs a card --}}
{{!-- db needs to be working to test this file. --}}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{title}}</h5>
    </div>
    <div class="card-body">

        <p class="card-text">{{body}}</p>

    </div>
    <div class="card-footer text-muted">
        {{creation_date}}
    </div>
</div>